@font-face {
    font-family: wanderers;
    src: url('/static/css/font/cretino.tff');
}

.banner {
    height: 300px;
    border-style: inset;
    border-width: 5px;
    background-color: #fff
}

div.blog-container, div.resources-container {
    margin-top: 10px;
}

div.blog-entry, div.resource {
    margin-bottom: 50px;
    padding: 10px;
    border-style: inset;
    border-width: 5px;
    background-color: #fff;
}

.blog-entry h2.blog-heading{
    font-family: wanderers;
    font-size: 48px;
}

.resource h3.resource-heading{
    font-family: wanderers;
}

hr.full-width {
    width: 100%;
}

img.banner-img-side {
    height: 250px;
    width: auto;
}

img.banner-img-middle {
    position: relative;
    left: 85px;
    bottom: 50px;
    height: 250px;
    width: auto;
}

h1.header{ 
    font-family: wanderers;
    font-size: 48px;
    z-index: 1;
}
