[[ extends '/html_skeleton.html' ]]
[[ from '/navbar.html' import navbar ]]
[[ from '/footer.html' import footer ]]

[[ set use_bootstrap = True ]]
[[ set use_angular = True ]]
[[ set cssfiles = ['/static/css/base.css'] + cssfiles|d([]) ]]
[[ set jsfiles = ['/static/js/lib/docs.min.js', '/static/js/base.js'] + jsfiles|d([]) ]]

[[ block body ]]
    <div class="container" id="body-container" ng-app="Base">
        [[ block navigation ]]
            [- navbar(location) -]
        [[ endblock ]]
        
        [[ block sub_base ]][[ endblock ]]
        [[ block footer ]]
            [- footer() -]
        [[ endblock ]]
    </div>
[[ endblock ]]
