[[ extends 'forum_base.html' ]]

[[ set jsfiles = ['/static/js/forum/board.js'] + jsfiles|d([]) ]]

[[ block content ]]
    <div ng-controller="ForumBoardCtrl as forum_board">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Title, Username, Date</th>
                    <th>Last Post</th>
                    <th>Replies</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="thread in forum_board.threads">
                    <td>
                        <strong>{{ thread.name }}</strong>
                        <br />
                        <small>{{ thread.username }}</strong>
                        <br />
                        <small>{{ thread.date }}</strong>
                    </td>
                    <td>
                        {{ thread.last_post_date }}
                        <br />
                        by {{ thread.last_post_user }}
                    </td>
                    <td>{{ thread.views }}</td>
                    <td>{{ thread.category }}</td>
                </tr>
            </tbody>
        </table>
    </div>
[[ endblock ]]
