[[ extends 'forum_base.html' ]]

[[ set jsfiles = ['/static/js/forum/index.js'] + jsfiles|d([]) ]]

[[ block content ]]
    <div ng-controller="ForumIndexCtrl as forum_idx">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Board Title</th>
                    <th>Topics</th>
                    <th>Messages</th>
                    <th>Last Post</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="board in forum_idx.boards">
                    <td>
                        <strong>{{ board.name }}</strong>
                        <br />
                        <small>{{ board.description }}</strong>
                    </td>
                    <td>{{ board.topics }}</td>
                    <td>{{ board.messages }}</td>
                    <td>{{ board.last_post }}</td>
                </tr>
            </tbody>
        </table>
    </div>
[[ endblock ]]
